.main {
	display: flex;
	flex-direction: column;
}
.main-container-wrapper {
	padding-right: 235px;
	position: relative;
}
.main-container {
	max-width: 920px;
	padding: 130px 20px;
	margin: 0 auto;
}

.main-container:last-child {
	margin-bottom: 0;
}

.main-accent-wrapper .main-title {
	margin-bottom: 20px;
}
.main-text-wrapper .main-subtitle {
	margin-bottom: 10px;
}

.main-text {
	font-family: Manrope;
	font-weight: 400;
	font-size: 22px;
}
.main-title {
	text-align: end;
	font-size: 34px;
}
.main-subtitle {
	font-size: 28px;
	color: #94734d;
	font-family: Manrope;
	font-weight: 700;
}

.main-image-decoration {
	display: flex;
	align-items: center;
	column-gap: 20px;
	text-align: center;
}
.main-decoration-text {
	font-family: PlayfairDisplay;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
}
.main-image-decoration img:first-child {
	scale: -1 1;
}
.main-first-letter {
	line-height: 100%;
	font-size: 34px;
}
.main-content {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	z-index: 10;
	position: relative;
}

/* FONTS */
.justify {
	text-align: justify;
}
.font-unbounded {
	font-family: Unbounded;
}
.font-manrope {
	font-family: Manrope;
}
.font-rubikWetPaint {
	font-family: RubikWetPaint;
}
.font-oswald {
	font-family: Oswald;
}
.font-playfairDisplay {
	font-family: PlayfairDisplay;
}
.bold {
	font-weight: 700;
}
.semibold {
	font-weight: 600;
}
.medium {
	font-weight: 500;
}
.regular {
	font-weight: 400;
}
.italic {
	font-style: italic;
}
br.second {
	display: none;
}

.first-image-block {
	display: block !important;
}
.first-image-flex {
	display: flex !important;
}

.second-image-block {
	display: none !important;
}
.second-image-flex {
	display: none !important;
}

@media screen and (max-width: 1440px) {
	.first-image-block {
		display: none !important;
	}
	.first-image-flex {
		display: none !important;
	}

	.second-image-block {
		display: block !important;
	}
	.second-image-flex {
		display: flex !important;
	}
}
@media screen and (max-width: 1024px) {
	.main-container-wrapper {
		padding-right: 140px;
	}
	.main-text {
		font-size: 18px;
	}

	.main-title {
		font-size: 28px;
	}
	.main-subtitle {
		font-size: 22px;
	}
}

@media screen and (max-width: 768px) {
	.main-first-letter {
		font-size: 14px;
	}
	.main-text {
		font-size: 12px;
	}
	.main-title {
		font-size: 14px;
	}
	.main-subtitle {
		font-size: 12px;
	}
	.main-accent-wrapper .main-title {
		margin-bottom: 10px;
	}
	.main-text-wrapper .main-subtitle {
		margin-bottom: 5px;
	}
	.main-content {
		row-gap: 20px;
	}
	br.first {
		display: none;
	}
	br.second {
		display: block;
	}
	.main-container {
		padding: 20px;
	}
	.main-decoration-text {
		font-size: 12px;
	}
}
@media screen and (max-width: 440px) {
	br.second {
		display: none;
	}
}
