.newMarket-monopoly-image {
	width: 660px;
	height: 660px;
	margin: 44px -265px 44px 34px;
	float: right;
}
.newMarket-monopoly-image-second {
	display: none;
}

@media screen and (max-width: 1660px) {
	.newMarket-monopoly-image {
		width: 460px;
		height: 460px;
		margin: 24px -100px 24px 34px;
	}
}
@media screen and (max-width: 1280px) {
	.newMarket-monopoly-image {
		width: 360px;
		height: 360px;
		margin: 24px 34px 24px -40px;
		float: left;
	}
}

@media screen and (max-width: 768px) {
	.newMarket-monopoly-image {
		width: 280px;
		height: 280px;
		margin: 15px 20px 15px 0px;
	}
}

@media screen and (max-width: 600px) {
	.newMarket-monopoly-image {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.newMarket-monopoly-image-first {
		display: none;
	}
	.newMarket-monopoly-image-second {
		display: block;
	}
}
